/*type selector*/
body {
    color: cadetblue;
    background-color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*class selector*/
.first {
    color: aqua;
}



/* ID selector */
#eklist {
    background-color: brown;
}


.large {
    font-size: 30px;
}


/* attribute selector*/
a[href="https://Upflairs.com"] {
    color:red
}

input [type="text"]{
    background-color: blue;
}