/* define the global or root variables*/
:root {
    --primaryColor: #213555;
    --backgoundColor: #F5EFE7;
    --primaryAccentColor: #4F709C;
    --seconadryColor: #D8C4B6;
    --whiteColor: white;
    --blackcolor: black;
    --primaryFont: 'Open Sans', sans-serif;
    --cursiveFont: 'Dancing Script', cursive;
    --navbarHeight: 3rem;
}

/*Main CSS*/
body {
    background-color: var(--backgoundColor);
    color: var(--primaryColor);
    font-family: var(--primaryFont);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.navigation {
    background-color: var(--whiteColor);
    height: var(--navbarHeight);
    display: flex;
    justify-content: space-around;
align-items: center;
}

.logo {
    display: flex;
  padding-left: 20px;
    width: 12rem;
    align-items: center;

}

.contactImages {
    height: 2rem;
    padding: 12px;
    margin-left: 100px;
}

.logoImages {
    height: 2rem;
   padding: 8px;
}

.menuItems {
    flex-grow: 2;
}


.menuItem {
    margin-left: 20px;
}


.banner{
    display: flex;
    height: 450px;
    background: linear-gradient(45deg, var(--seconadryColor),var(--primaryColor));
    filter: drop-shadow(0px 3px 4px grey);/*x*/
    justify-content: space-around; 
    align-items:center ;
    padding: ;
} 

.bannerImages{
    height: 300px;
    border-radius: 100%;
}

.greeting{
    font-family: var(--cursiveFont);
    font-size: 1.25rem;
}

.title{
    font-size: 3.5rem;
    text-shadow:2px 2px #4F709C;
}

.bannerLeft{
    width: 50%;
    color: black
}

.titleSpan{
    
    padding: 0.5rem;
    margin: 5px 0px;
    display: inline-block;
}


.description{
    line-height: 2rem;
    margin: 30px 0px;
}


.showCVButton{
    text-decoration: none;
    color: var(--primaryColor);
    background: linear-gradient(white,rgb(235,235,235),rgb(245,245,245));
    padding: 10px 15px;
    border-radius: 5px;
    filter: drop-shadow(5px 5px 3px grey);

}

a:hover{
    color: #4F709C;
}